---
layout: default
title: Shopping Cart
---

<style>
  #payGifts, #pixInfo {
    display: none; /* Inicialmente oculto */
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .button-container button {
    margin: 0.5rem;
  }
</style>

<div x-data="basket()" x-init="init()" class="container mx-auto px-6 mb-12 py-12">

  <!-- Loading Spinner -->
  <template x-if="loading">
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
      <svg class="w-8 h-8 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0 ..."></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0z"></path>
      </svg>
    </div>
  </template>

  <!-- Carrinho de presentes -->
  <template x-if="total_quantity > 0">
    <div>
      <h1 class="text-2xl font-display text-black leading-tight">
        Presentes aos noivos (<span x-text="total_quantity"></span>)
      </h1>
      <div class="mt-6">
        <template x-for="product in products">
          <div class="flex justify-between items-center pb-6 mb-6 border-b border-gray-200">
            <div class="flex items-center">
              <img :src="product.image" class="w-16 lg:w-32 h-16 lg:h-32 object-cover bg-gray-100" />
              <div class="px-6 lg:px-12 text-xs uppercase flex flex-col justify-center">
                <div class="text-gray-900 font-semibold" x-text="product.title"></div>
                <div class="mt-2" x-text="'{{ settings.currency_symbol }}'+product.price"></div>
              </div>
            </div>
            <div class="flex flex-col md:flex-row justify-center items-center space-y-2 md:space-y-0 md:space-x-6 pl-4">
              <button x-on:click="removeProduct(product)" class="text-xs underline">Remover</button>
              <div class="text-xs text-gray-900" x-text="product.quantity"></div>
              <div class="text-xs" x-text="'{{ settings.currency_symbol }}'+(product.price * product.quantity).toFixed(2)"></div>
            </div>
          </div>
        </template>
      </div>
      <div class="flex justify-end">
        <strong>
          <p x-text="'{{ settings.currency_symbol }}'+total_price"></p>
        </strong>
      </div>
      <div class="flex justify-end">
        <button onclick="paygifts()" class="mt-4 w-48 inline-block text-center font-semibold px-12 py-2 bg-gray-900 text-gray-100 uppercase text-xs">
          Pagar
        </button>
      </div>
    </div>
  </template>

  <!-- Carrinho vazio -->
  <template x-if="total_quantity === 0">
    <div class="text-center py-12 mb-12 px-6">
      <h1 class="text-3xl lg:text-4xl mb-6 font-display text-black leading-tight">Não há nada ainda no carrinho de presentes aos noivos!</h1>
      <p class="max-w-lg mx-auto">Volte para a página de presentes e escolha.</p>
    </div>
  </template>

  <!-- Modal Principal -->
<div id="payGifts">
  <div class="z-50 bg-black bg-opacity-50 fixed inset-0 w-screen min-h-screen lg:h-screen lg:flex lg:justify-center lg:items-center p-12">
    <div class="w-full max-w-sm bg-white text-xs uppercase shadow-2xl">
      <div class="px-6 md:px-12 py-6 text-center">
        <p>VALOR TOTAL DOS ITENS</p>
        <strong>
          <p x-text="'{{ settings.currency_symbol }}'+total_price"></p>
        </strong>

      </div>
      <div class="p-4 button-container">
        <button onclick="openPixInfo()" class="flex-1 text-center font-semibold px-4 py-4 bg-gray-900 text-gray-100 uppercase text-xs rounded">
          Pagar com PIX
        </button>
        <button x-on:click="checkout()" class="flex-1 text-center font-semibold px-4 py-4 bg-gray-900 text-gray-100 uppercase text-xs rounded">
          Pagar com cartão
        </button>
        <button onclick="closePayGifts()" class="flex-1 text-center font-semibold px-4 py-4 bg-gray-200 text-gray-500 uppercase text-xs rounded">
          Voltar
        </button>
      </div>
    </div>
  </div>
</div>
  <!-- Modal PIX Info -->
<div id="pixInfo" >
    <div class="z-50 bg-black bg-opacity-50 fixed inset-0 w-screen min-h-screen lg:h-screen lg:flex lg:justify-center lg:items-center p-12">
        <div class="w-full max-w-sm bg-white text-xs uppercase shadow-2xl">
        <div class="px-6 md:px-12 py-6 text-center">
            <p>Chave:</p>
            <p id="pixKey">38999101373</p>
            <p>Telefone</p>
            <br>
            <p>Beneficiária: Denise Maria Vilela Cardoso</p>
            <p>Valor: <strong x-text="'{{ settings.currency_symbol }}'+total_price"></strong></p>
        </div>
        <form name="purchase" netlify data-netlify="true" netlify-honeypot="bot-field" class="hiden" action="/thank-you">
            <div class="p-4 button-container">
                <button onclick="copyPixKey()" type="button" class="w-full text-center font-semibold px-4 py-4 bg-gray-900 text-gray-100 uppercase text-xs rounded">
                    Copiar Chave PIX
                </button>
                <button class="w-full text-center font-semibold px-4 py-4 bg-gray-900 text-gray-100 uppercase text-xs rounded">
                    PIX Pago
                    </button>
                <button onclick="closePixInfo()" type="button" class="flex-1 text-center font-semibold px-4 py-4 bg-gray-200 text-gray-500 uppercase text-xs rounded">
                Fechar
                </button>
                <input type="hidden" name="form-name" value="purchase">
                <p class="hidden">
                    <label>Don’t fill this out if you're human: <input name="bot-field"></label>
                </p>
                <input type="hidden" name="cart_items" id="cartItems">
                <input type="hidden" name="total_price" id="totalPrice">
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
<script>
     function copyPixKey() {
    const pixKey = document.getElementById('pixKey').innerText;
    navigator.clipboard.writeText(pixKey).then(() => {
      alert('Chave PIX copiada para a área de transferência!');
    }).catch(err => {
      console.error('Erro ao copiar a chave PIX: ', err);
    });
  }
  function paygifts() {
    document.getElementById('payGifts').style.display = 'block';
  }
  function closePayGifts() {
    document.getElementById('payGifts').style.display = 'none';
  }
  function openPixInfo() {
    document.getElementById('payGifts').style.display = 'none';
    // Preenche os dados do carrinho
    if (typeof basket === "function") {
        const cart = basket();
        cart.fillCartData();
    } else {
        console.error("A função basket() não está definida corretamente.");
    }
    document.getElementById('pixInfo').style.display = 'block';
  }
  function closePixInfo() {
    document.getElementById('pixInfo').style.display = 'none';
  }
</script>


<script src="https://js.stripe.com/v3/"></script>
<script>
    function paygifts() {
      document.getElementById('payGifts').style.display = 'block';
    }
    function closePayGifts() {
        document.getElementById('payGifts').style.display = 'none';
    }
    const basket = () => ({
        loading: false,
        // get all available products from collection
        all_products: [
            {% for product in collections.products %}
            {
                "id": "{{ product.url | url }}",
                "url": "{{ product.url | url }}",
                "title": "{{ product.data.title }}",
                "image": "{{ product.data.featured_image }}",
                "price": {{ product.data.price }}
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ],
        // array of products in basket
        products: [],
        total_price: 0,
        total_quantity: 0,
        getBasket() {
            // rest the products
            this.products = [];
            // get the basket from local storage
            const basket = localStorage.getItem('basket') ? JSON.parse(localStorage.getItem('basket')) : [];
            // loop through basket items to get products
            collect(basket).each((item) => {
                // check if product is already in basket
                let productInBasket = collect(this.products).where('id', item.product).first();

                if (productInBasket) {
                    // add 1 to quantity
                    productInBasket.quantity++;
                }
                else {
                    // get original product data
                    productData = collect(this.all_products).where('id', item.product).first();
                    if (productData) {
                        this.products.push({
                            "id" : productData.id,
                            "url" : productData.url,
                            "title" : productData.title,
                            "image" : productData.image,
                            "price" : productData.price,
                            "quantity" : 1
                        });
                    }
                }
            });
        },
        fillCartData() {
            this.getBasket()
            const cartItems = this.products.map(product => product.title).join(' / ');
            const totalPrice = this.products.reduce((total, product) => total + (product.price * product.quantity), 0);

            document.getElementById('cartItems').value = cartItems;
            document.getElementById('totalPrice').value = totalPrice;
        },
        getTotalPrice() {
            // loop through products at multiply price by quantity
            this.total_price = 0;
            collect(this.products).each((product) => this.total_price += product.price * product.quantity);
            this.total_price = this.total_price.toFixed(2);
        },
        getTotalQuantity() {
            // loop through products and sum by quantity
            this.total_quantity = 0;
            this.total_quantity = collect(this.products).sum('quantity');
        },
        removeProduct(product) {            
            // loop through products and remove any that match ID
            this.products = collect(this.products).filter((item) => {
                return JSON.stringify(product) != JSON.stringify(item);
            }).all();

            // convert products array back to format for basket in localstorage
            const basket = [];
            collect(this.products).each((product) => {
                // the product id needs to be added for each quantity
                for (var i = 0; i < product.quantity; i++) {
                    basket.push({
                        "product" : product.id
                    });
                }
            });

            // add this back to localstorage to keep in sync
            localStorage.setItem('basket', JSON.stringify(basket));

            // re-initialise data
            this.init();
        },
        checkout() {
            // show loading animationg
            this.loading = true;

            // we only want the product ID and quantity for this request
            const products = JSON.stringify(collect(this.products).transform((product) => {
                return {
                    id : product.id,
                    quantity : product.quantity
                }
            }).all());

            // create the stripe checkout
            axios.get('/.netlify/functions/create-checkout', {
                params: {
                    products: products
                }
            })
            .then(function (response) {
                const stripe = Stripe(response.data.stripe_key);
                const { error } = stripe.redirectToCheckout({
                    sessionId: response.data.sessionId,
                });
            })
            .catch(function (error) {
                alert(error);
            })
            .then(() => this.loading = false);
        },
        init() {
            this.getBasket();
            this.getTotalPrice();
            this.getTotalQuantity();
        }
    });
</script>